.intro{
    background-image: url("../images/pizza\ one");
    height: 550px;
    width: 100%;
    /* margin-: -5%; */
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: black;
    /* margin-top: 10%; */
    padding-top: 5%;
}
.para{
    padding-top: 20%;
    color: white;
    font: 50%;
}
#home{
    text-align: center;
    padding-top: 10%;

}
.services{
    background-image: url("/images/service");
    height: 400px;
    padding-top: 5%;
    /* text-align: center; */
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 19%;
}
.Da{
    /* text-align: center; */
    /* position: absolute; */
    margin-left: 15%;
 
    display: flex; 
    justify-content: space-between;
    background-color: black;
     margin-right: 5%;
    
} 
.aboutus{
    background-image: url("/images/small-business-about-us-page-600.jpg");
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 17%;
    /* background-color: limegreen; */
}
.head{
    padding-top: 5%;
    text-align: center;
}
.about{
    text-align: center;
    padding-top: 5%;
}
nav ul  li{
display: inline-block;
text-transform: uppercase;
margin-right: 15%;
}
nav ul li a :hover{
    text-decoration:none;
    margin-right: 20%;

}
nav{
    position: fixed;
}
nav ul li a {
    text-decoration: none;
  color:red;
    padding: 20px;
    font-size:40px ;
}

.overlay1,.overlay2,.overlay3,.overlay4,.overlay5,.overlay6,.overlay7,.overlay8{
    display: none;
   text-align: center;
   position: absolute;
   background:rgba(13, 18, 26, 0.5);
   color: white;
   font-weight: bolder;
   border: 2px solid white;
   margin-top: 19px;
   margin-left: 10px;
   margin-bottom: 10px;
   margin-right: 10px;
   padding: 40px;
   font-size: 15px;
}
.row{
    padding: 1%;
    

}
.form-check-input{
 margin-left: 8%;
}
#your-order{
    /* margin-left: 9%; */
}

